body {
    background-color: #a0b4c9;
    display: flex;
    gap: 200px;
    align-items: flex-end;
}

h3 {
    color: rgb(72, 64, 3);
}

aside {
    width: 200px;
    border: 1px solid yellow;
}

button{
    padding: 10px;
    background-color: orange;
}